* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*nav-bar*/
nav {
    background: #222;
    padding: 5px 50px;
    position: sticky;
    top: 0;
    z-index: 3;
}

ul {
    list-style-type: none;
    transition: 0.5s;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo a:hover {
    text-decoration: none;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}
.logo a,
.toggle a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px #444 solid;
  }
  
  /* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}
  
.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

  /* Navbar Toggle */
.toggle {
    cursor:pointer;
}
.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
.bars:before,
.bars:after {
    background: #999;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.bars:before {
    top: 5px;
}

.bars:after {
    top: -5px;
}

  /* Tablet menu */
@media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
  
    .logo {
        flex: 1;
    }
  
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
        border-radius:50em;
    }
    .button.secondary a {
        background: transparent;    
        
    }
    .button a:hover {
        text-decoration: none;
        transition:all .25s;
    }
    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover {
        color: #ddd;
    } 
  }
  
  /* Desktop menu */
  @media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
}


/*Banner*/

#banner {
    min-height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./image/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.banner-text{
    margin-left: 45px;
    font-size: 50px;
    text-transform: uppercase;
    color: #e0e2db;
    font-style: italic;
}

.banner-underline {
    width: 200px;
    border: 3px solid #e0e2db;
    margin: 10px auto 20px auto;
}

.banner-btn {
    display: flex;
    justify-content: space-between;
}

.banner-btn button {
    font-size: 30px;
    padding: 15px;
    text-transform: uppercase;
    margin: 0 10px;
    background: transparent;
    color: #e6af2e;
    border: 2px solid #e6af2e;
    cursor: pointer;
    transition: ease-in 0.5s;
}

.banner-btn button:hover {
    color: #e0e2db;
    background: #e6af2e;
}

/*Skills section*/

#skill {
    padding: 400px 0;
    background-color: #beb7a4;
}

.skills-container {
    max-width: 95vw;
    margin: 0 auto;
}

.skills-item {
    text-align: center;
    margin: 20px 0;
}

.skills-item .fa {
    font-size: 60px;
    color: #191716;
}

.skills-item h1 {
    font-size: 30px;
    letter-spacing: 2px;
    margin: 30px 0;
    color: #e6af2e;
    text-transform: uppercase;
}

.skills-item p {
    width: 75%;
    margin: 0 auto;
    color: #191719;
}

@media screen and (min-width: 576px){
    .skills-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
    }   
}

@media screen and (min-width: 992px){
    .skills-container {
        width: 100%;
        height: 350px;
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}


/*Section-Skill*/

.title {
    padding-top: 50px;
}

.title-text {
    text-align: center;
    font-size: 40px;
    color: #e0e2db;
    text-transform: uppercase;
}

.title-underline {
    width: 200px;
    border: 3px solid #e6af2e;
    margin: 0 auto;
}

/*Services*/

#services {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./image/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    padding: 20px 0 80px 0;
}

.services-container{
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 30px;
    color: #e0e2db;
}

.service-item {
    overflow: hidden;
    position: relative;
    padding: 60px;
}

.service-item .fa {
    font-size: 60px;
    margin-bottom: 30px;
    color: #e6af2e;
}

.service-item-black {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
}

.service-item-white {
    background: linear-gradient(rgba(206,208,206,0.6),rgba(206,208,206,0.6));
    color: #191716;
}

.front-text {
    text-align: center;
    transition: transform 2s; 
}

.back-text {
    position: absolute;
    bottom: -15em;

    width: 75%;
    margin: 0 auto;
    height: 100%;
    transition: bottom 2s;
    padding: 30px 0;
}

.back-text h1 {
    margin-bottom: 20px;
}

.back-text button {
    margin-top: 20px;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #e6af2e;
    font-size: 20px;
    color: #e6af2e;
    cursor: pointer;
}

.back-text button:hover {
    background-color: #e6af2e;
    color: #191716;
}

.service-item-white button:hover {
    background: #e6af2e;
    color: #191716;
}

.service-item-white button:hover {
    background: #191716;
    background-color: #191716;
    color: #e6af2e;
}

.service-item:hover .front-text {
    transform: translateY(-200px);
}

.service-item:hover .back-text{
    bottom: 0;
    
}

@media screen and (min-width: 776px){
    .services-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .services-container .service-item:nth-of-type(1) {
        order: 1;
    }
    .services-container .service-item:nth-of-type(2) {
        order: 2;
    }
    .services-container .service-item:nth-of-type(3) {
        order: 4;
    }
    .services-container .service-item:nth-of-type(4) {
        order: 3;
    }
}




/*slider-show*/
.slidershow{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    width: 700px;
    height: 400px;
    overflow: hidden;
    background-color: #1c1c1c;
    border: solid 10px #616161;
    border-radius:10px ; 
    position: relative;  
}


.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background: #fff;
}
  
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
  
.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
  
.slide{
    width: 20%;
    transition: 0.6s;
}
.slide img{
    width: 100%;
    height: 100%;
}
  
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}
#r5:checked ~ .s1{
    margin-left: -80%;
}


@media all and (max-width: 600px){
    .slidershow {

        margin-top: 30px;
        margin-bottom: 30px;
        width: 400px;
        height: 430px;
      
    }

    .navigation{
        
        bottom: 5px;
    }

    .bar{
        width: 30px;
        height: 10px;
        border: 2px solid #fff;
        margin: 3px;
    }
}

@media all and (min-width: 601px ) {
    .slidershow {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 470px;
        height: 420px;
      
    }
}

@media all and (min-width: 768px ) {
    .slidershow {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 600px;
        height: 410px;
      
    }
}

@media all and (min-width: 1024px ) {
    .slidershow {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 700px;
        height: 400px;
    }
}

/*footer*/

footer {
    background: #191716;
    padding-top: 10px;
    color: #e0e2db;
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 55px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content::before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.box .content::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 30%;
    background: #f12020;
    top: -10px;
}

.left .content p {
    text-align: justify;
}

.left .content .social  {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .content .social a i {
    height: 20px;
    width: 20px;
    background: #1a1a1a;
    line-height: 20px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a i:hover {
    background: #f12020;

}

.center .content .fa {
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fa:hover {
    background: #f12020;
}

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 10px 0;
}

.right form .msg {
    margin-top: 10px;
}

.right form input, .right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
    color: white;

}
.right form input:focus, .right form textarea:focus {
    outline-color: #3498db;
} 

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
}

.right form .btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.right form .btn button:hover {
    background: #e6af2e;
}

@media screen and (max-width: 960px){
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    
}